<!DOCTYPE html>
<html>
<head>
</head>
<link rel="stylesheet" href="/css/styles.css">
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was made by Sampath Subasinghe</p>
        <image class="portrait" src="/images/cloudSky.jpg"></image>
        <p>{{description}}</p>
    </div>
    {{>footer}}
</body>

</html>