<!DOCTYPE html>
<html>
<head>
</head>
<link rel="stylesheet" href="/css/styles.css">
<body>
   <div class="main-content">
      {{>header}}
      <p> ERROR: {{message}}</p>
   </div>
   {{>footer}}
</body>

</html>