<!DOCTYPE html>
<html>
<head>
</head>
<link rel="stylesheet" href="/css/styles.css">
<body>
    <div class="main-content">
        {{>header}}
        <image class="banner" src="/images/cloudSky.jpg"></image>
        <p>{{helpMessage}}</p>
    </div>
    {{>footer}}
</body>

</html>